<div class="list-group">
    <a href="/about" class="list-group-item list-group-item-action {{ 'bg-secondary text-light' if active_page == 'about' }}">About Instru</a>
    <a href="/principal-investigators" class="list-group-item list-group-item-action {{ 'bg-secondary text-light' if active_page == 'principals' }}">Principal Investigators</a>
    <a href="#" class="list-group-item list-group-item-action {{ 'bg-secondary text-light' if active_page == 'history' }}">History</a>
    <a href="#" class="list-group-item list-group-item-action {{ 'bg-secondary text-light' if active_page == 'awards' }}">Awards and Recognition</a>
</div>
<hr />
<h5>Contact Us</h5>
<p>
    +63 2 981 8500 loc. 3701-03<br />
    <a href="mailto:csaloma@nip.upd.edu.ph">csaloma@nip.upd.edu.ph</a>
</p>
<hr style="border-width: 3px; border-color: rgba(0, 0, 0, 0.5)" />
<h5>Related References</h5><br />
<a href="https://our.upd.edu.ph/files/calendar/regular/ACAD%20CAL%202019-2020.pdf">UP Diliman Calendar AY 2019-2020</a><hr />
<a href="https://docs.google.com/viewer?a=v&pid=sites&srcid=ZGVmYXVsdGRvbWFpbnxpbnN0cnVtZW50YXRpb25waHlzaWNzbGFifGd4OjIwNWVhZDExNzQwNDhhMGY">IPL Annual Report 2013</a><hr />
<a href="https://our.upd.edu.ph/files/catalogue/CS.pdf#page=8">BS Physics Course Curriculum</a><hr />
<a href="https://our.upd.edu.ph/files/catalogue/CS.pdf#page=10">BS Applied Physics (Instrumentation) Course Curriculum</a><hr />
<a href="https://our.upd.edu.ph/acadcat.php">UP Diliman General Catalogue 2014</a><hr />
<a href="https://our.upd.edu.ph/acadinf.php">UP Diliman Academic Information</a>
