{% extends "layout.html.j2" %}

{% block title %}
	Home
{% endblock %}

{% block body %}

<!-- Slider -->
<div id="homeslide" class="container-fluid carousel slide" data-ride="carousel" style="height: 400px; margin-top: 20px">

	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#homeslide" data-slide-to="0" class="active"></li>
        {% for sf in range((slider_files|count) - 1) %}
            <li data-target="#homeslide" data-slide-to="{{ loop.index }}"></li>
        {% endfor %}
	</ol>

	<!-- Slideshow -->
	<div class="carousel-inner container my-auto h-100" style="padding: 20pt" role="listbox">
		{% for pic in carousel_pics %}
			<div class="carousel-item {{ 'active' if loop.index0 == 0 }}">
				<div class="row h-100" style="vertical-align: middle">
					<div class="col-3">
						<img class="img-fluid" src="images/{{ pic }}" />
					</div>
					<div class="col my-auto">
						{% if loop.index < 10 %}
							{% include "content/home/0" + loop.index|string + "-home.html" %}
						{% else %}
							{% include "content/home/" + loop.index|string + "-home.html" %}
						{% endif %}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

	<!-- Slide controls -->
	<a class="carousel-control-prev" href="#homeslide" data-slide="prev">
		<span class="carousel-control-prev-icon"></span>
	</a>
	<a class="carousel-control-next" href="#homeslide" data-slide="next">
		<span class="carousel-control-next-icon"></span>
	</a>
</div>

<!-- Research -->
<div class="container-fluid text-light" style=" padding-top: 50px; padding-bottom: 50px; background: #629b39">
	<h2 class="text-center">Research</h2>
	<div class="card-deck">
		{% for pic in research_pics %}
			{% set names = ["Signal Processing", "Complex Systems & Networks", "Video & Image Processing", "Biological Systems", "Optics"] %}
			<div class="card" style="background-color: rgba(245, 245, 245, 0.0); border: none">
				<img class="card-img-top" src="images/{{ pic }}">
				<div class="card-body">
					<h4 class="card-title text-center">{{ names[loop.index0] }}</h4>
				</div>
			</div>
		{% endfor %}
	</div>
</div>

<!-- Principal investigators -->
<div class="container-fluid" style="padding-top: 50px; padding-bottom: 50px">
	<h3 class="text-center">Principal Investigators</h3>
	<div class="card-deck">
		{% set names = [("Dr. Caesar Saloma", "csaloma"), ("Dr. Maricor Soriano", "msoriano"), ("Dr. May Lim", "mlim"), ("Dr. Giovanni Tapang", "gtapang"), ("Dr. Johnrob Bantang", "jbantang")] %}
		{% for name, tag in names %}
			<div class="card">
				<a href="{{ url_for('principal_bio', principal=tag) }}" class="stretched-link"><img class="card-img" src="{{ adviser_pics[loop.index0] }}"></a>
				<div class="card-body text-center">
					<p>{{ name }}</p>
				</div>
			</div>
		{% endfor %}
	</div>
</div>

<!-- Current affairs -->
<div class="container-fluid" style="padding: 50px 30px">
	<div class="row">
        <div class="col">
            <h3>Seminar</h3>
        	<h5><a href="http://dx.doi.org/10.1016/j.patcog.2019.107051" target="_blank">Learning Image Compressed Sensing with Sub-Pixel Convolutional Generative Adversarial Networks</a></h5>
			<p class="text-secondary">2 December 2019 | 2:00 PM | NIP LP101</p>
			<hr />
        	<h5><a href="http://ieeexplore.ieee.org/document/5720310/" target="_blank">Anti-Forensics of Image Compression</a></h5>
			<p class="text-secondary">2 December 2019 | 2:20 PM | NIP LP101</p>
			<hr />
        	<h5><a href="http://arxiv.org/abs/math/0503066v2" target="_blank">Stable Signal Recovery from Incomplete and Inaccurate Measurements</a></h5>
			<p class="text-secondary">2 December 2019 | 2:40 PM | NIP LP101</p>
        </div>
		<div class="col">
			<h3>Recent Publications</h3>
			{% for pub in recent_publ %}
					<h5><a href="{{ pub.url }}" target="_blank">{{ pub.title }}</a></h5>
					<p class="text-secondary">
						{{ pub.authors }} | <i>{{ pub.journal }} <b>{{ pub.volume }}</b></i>
					</p>
					<hr />
			{% endfor %}
			<a href="/publications">See more...</a>
		</div>
		<div class="col">
			<h3>Twitter</h3>
			<a class="twitter-timeline" data-height="400" href="https://twitter.com/officialinstru?ref_src=twsrc%5Etfw"></a>
			<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>
</div>

{% endblock %}
