{% extends "layout.html" %}

{% block body %}
<!-- Slider -->
<div id="homeslide" class="container-fluid carousel slide" data-ride="carousel" style="height: 400px; margin-top: 20px">

	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#homeslide" data-slide-to="0" class="active"></li>
        {% for sf in slider_files %}
            <li data-target="#homeslide" data-slide-to="{{ loop.index }}"></li>
        {% endfor %}
	</ol>

	<!-- Slideshow -->
	<div class="carousel-inner container my-auto h-100" style="padding: 20pt" role="listbox">
		{% for pic in carousel_pics %}
			{% if loop.index0 == 0 %}
				{% set divclass = "carousel-item active" %}
			{% else %}
				{% set divclass = "carousel-item" %}
			{% endif %}
			<div class="{{ divclass }}">
				<div class="row h-100" style="vertical-align: middle">
					<div class="col-3">
						<img class="img-fluid" src="images/{{ pic }}" />
					</div>
					<div class="col my-auto">
						{% if loop.index < 10 %}
							{% include "content/0" + loop.index|string + "-home.html" %}
						{% else %}
							{% include "content/" + loop.index|string + "-home.html" %}
						{% endif %}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

	<!-- Slide controls -->
	<a class="carousel-control-prev" href="#homeslide" data-slide="prev">
		<span class="carousel-control-prev-icon"></span>
	</a>
	<a class="carousel-control-next" href="#homeslide" data-slide="next">
		<span class="carousel-control-next-icon"></span>
	</a>
</div>

<!-- Research -->
<div class="container-fluid text-light" style=" padding-top: 50px; padding-bottom: 50px; background: #629b39">
	<h2 class="text-center">Research</h2>
	<div class="card-deck">
		{% for pic in research_pics %}
			{% set names = ["Signal Processing", "Complex Systems & Networks", "Video & Image Processing", "Biological Systems", "Optics"] %}
			<div class="card" style="background-color: rgba(245, 245, 245, 0.0); border: none">
				<img class="card-img-top" src="images/{{ pic }}">
				<div class="card-body">
					<h4 class="card-title text-center">{{ names[loop.index0] }}</h4>
				</div>
			</div>
		{% endfor %}
	</div>
</div>

<!-- Principal investigators -->
<div class="container-fluid" style="padding-top: 50px; padding-bottom: 50px">
	<h3 class="text-center">Principal Investigators</h3>
	<div class="card-deck">
		{% set names = [("Dr. Caesar Saloma", "#saloma"), ("Dr. Maricor Soriano", "#soriano"), ("Dr. May Lim", "#lim"), ("Dr. Giovanni Tapang", "#tapang"), ("Dr. Johnrob Bantang", "#bantang")] %}
		{% for name, tag in names %}
			<div class="card">
				<a href="{{ tag }}" class="stretched-link"><img class="card-img" src="{{ adviser_pics[loop.index0] }}"></a>
				<div class="card-body text-center">
					<p>{{ name }}</p>
				</div>
			</div>
		{% endfor %}
	</div>
</div>

<!-- Recent publications -->
<div class="container-fluid" style="padding-top: 50px; padding-bottom: 50px">
	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-8">
			<h3 class="text-center">Recent Publications</h3>
			<ul class="list-group">
				{% for pub in recent_publ %}
					<a href="https://paperview.spp-online.org/proceedings/article/view/SPP-2019-{{ pub.spp_code }}" class="list-group-item list-group-item-action">
						{{ pub.authors }}. {{ pub.title }}. <i>Proceedings of the Samahang Pisika ng Pilipinas Physics Conference</i> (Bohol Tropics Resort, Tagbilaran City, Bohol, 2019), vol. 37, SPP-2019-{{ pub.spp_code }}.
					</a>
				{% endfor %}
			</ul>
		</div>
		<div class="col-1 text-center">
			<h3 class="text-center">Links</h3>
			<a href="http://www.nip.upd.edu.ph/"><img src="images/National_Institute_of_Physics_logo.png" class="img-fluid"></a>
			<a href="http://www.science.upd.edu.ph/"><img src="images/CS.png" class="img-fluid"></a>
			<a href="http://upd.edu.ph/"><img src="images/UP.png" class="img-fluid"></a>
			<a href="http://spp-online.org/"><img src="images/SPP.png" class="img-fluid"></a>
		</div>
	</div>
</div>
{% endblock %}
