<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} | Instrumentation Physics Laboratory</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}"/>
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
	<script src="{{ url_for('static', filename='js/popper.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.bootstrap4.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dataTables.bootstrap4.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" />
    <!-- <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/bs_init.js') }}"></script>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
        }
    </style>
</head>
<body>
    <nav class="nav navbar navbar-expand-lg navbar-light bg-light font-weight-bold sticky-top" role="navigation">
    	<div class="container-fluid">
    		<div class="navbar-header col-sm-3">
    			<a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='images/IPL Logo.png') }}" style="max-width: 100%; height: auto"></a>
    		</div>
    		<button type="button" class="navbar-toggler navbar-toggler-right collapsed" data-toggle="collapse" data-target="#instru-navbar" aria-controls="instru-navbar" aria-expanded="false" aria-label="Toggle navigation">
    			<span class="sr-only">Toggle navigation</span>
    			<span class="navbar-toggler-icon"></span>
    		</button>
    		<div class="collapse navbar-collapse" id="instru-navbar">
    			<ul class="nav navbar-nav ml-auto">
    				<li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">HOME</a></li>
    				<li class="dropdown nav-item">
                        <a class="nav-link" href="{{ url_for('about') }}">ABOUT</a>
                        <ul class="dropdown-menu dropdown-menu-right" style="margin-top: 0">
                            <a class="dropdown-item" href="{{ url_for('principals') }}">Principal Investigators</a>
                            <a class="dropdown-item" href="#">History</a>
                            <a class="dropdown-item" href="#">Awards &amp; Recognition</a>
                        </ul>
                    </li>
    				<li class="dropdown nav-item">
    					<a class="nav-link" href="{{ url_for('research') }}">RESEARCH</a>
    					<ul class="dropdown-menu dropdown-menu-right" style="margin-top: 0">
    						<a class="dropdown-item" href="#">Team One</a>
    						<a class="dropdown-item" href="#">Synchronization &amp; BioOptics</a>
    						<a class="dropdown-item" href="#">Video and Image Processing</a>
    						<a class="dropdown-item" href="#">Complexity Science Group</a>
    						<a class="dropdown-item" href="#">CX Team</a>
    					</ul>
    				</li>
    				<li class="nav-item"><a class="nav-link" href="{{ url_for('publications') }}">PUBLICATIONS</a></li>
    				<li class="dropdown nav-item">
                        <a class="nav-link" href="#" data-toggle="dropdown" role="button" aria-expand="false">MEMBERS</a>
                        <ul class="dropdown-menu dropdown-menu-right" style="margin-top: 0">
    						<a class="dropdown-item" href="#">PhD Faculty</a>
    						<a class="dropdown-item" href="#">Graduate Students</a>
    						<a class="dropdown-item" href="#">Undergraduate Students</a>
    					</ul>
                    </li>
    				<li class="nav-item"><a class="nav-link" href="#">JOIN</a></li>
    			</ul>
    		</div>
    	</div>
    </nav>

    {% block body %}
    {% endblock %}

    <footer class="container-fluid" style="padding-top: 0">
        <div class="row" style="padding: 2% 1%">
            <div class="col">
                <h5>For Members</h5>
                <hr />
                <a href="https://our.upd.edu.ph/files/calendar/regular/ACAD%20CAL%202019-2020.pdf" target="_blank">Important Dates</a><br />
                <a href="https://docs.google.com/spreadsheets/u/2/d/1qChkLCnlDHZZHZmLgaXndxaQ7H_nRII9a9BpUABdxiU" target="_blank">Seminars</a><br />
                <a href="https://docs.google.com/forms/d/1Mc8RJBauLujmmmpBzJ-cyp3Lm92lr3CXIcc7yhqAHZs/viewform" target="_blank">Submit a Plenary Talk</a><br />
                <a href="https://docs.google.com/forms/d/1fbLDj27YFPcf5ZMxjLHOOq9YeXzLAyCsjW_rOV2hWQk/viewform" target="
                ">Excuse Form</a><br />
                <a href="https://docs.google.com/forms/d/1bGmMcnAu04fY1VjQrcH_tr-pOCju5X9fpLCO0ytdJ-k/viewform" target="_blank">Report an Achievement</a><br />
                <!-- <a href="https://docs.google.com/a/nip.upd.edu.ph/forms/d/1K4Xp9TDGnR_FNwYNtcHA53IFYFVNO9mWx5XMCeWIiEo/viewform" target="_blank">Report a Publication Acceptance</a> -->
                <a href="{{ url_for('add_publication') }}">Report a Publication Acceptance</a>
            </div>
            <div class="col">
                <b>Instrumentation Physics Laboratory</b><br />
                National Institute of Physics, College of Science<br />
                University of the Philippines, Diliman <br />
                1101 Quezon City, Philippines<br />
                +63 (2) 981 8500 loc. 3701-03<br />
                <h3>
                    <a href="https://www.facebook.com/officialinstru" class="fab fa-facebook-square" target="_blank"></a>
                    <a href="https://www.twitter.com/officialinstru" class="fab fa-twitter-square" target="_blank"></a>
                    <a href="mailto:csaloma@nip.upd.edu.ph" class="fas fa-envelope-square" target="_blank"></a>
                </h3>
                &copy; {{ now.year }} Instrumentation Physics Laboratory
            </div>
            <div class="col" style="height: 100px">
                <a href="http://upd.edu.ph/" target="_blank"><img src="{{ url_for('static', filename='images/UP.png') }}" class="img-fluid" style="height: 100%; padding: 20px 5px 0 5px"></a>
                <a href="http://www.science.upd.edu.ph/" target="_blank"><img src="{{ url_for('static', filename='images/CS.png') }}" class="img-fluid" style="height: 100%; padding: 20px 5px 0 5px"></a>
                <a href="http://www.nip.upd.edu.ph/" target="_blank"><img src="{{ url_for('static', filename='images/National_Institute_of_Physics_logo.png')}}" class="img-fluid" style="height: 100%; padding: 20px 5px 0 5px"></a>
    			<a href="http://spp-online.org/" target="_blank"><img src="{{ url_for('static', filename='images/SPP.png') }}" class="img-fluid" style="height: 100%; padding: 20px 5px 0 5px"></a>
            </div>
        </div>
    </footer>
</body>
</html>
