{% extends "bio_layout.html.j2" %}

{% block title %}
    Maricor N. Soriano
{% endblock %}

{% block portrait %}
    <img class="img-fluid" src="{{ url_for('static', filename='images/' + image_src + '.jpg') }}" />
{% endblock %}

{% block name %}
    Prof. Maricor N. Soriano
{% endblock %}

{% block contact %}
    <div class="col-1">
        <i><span class="far fa-envelope"></span></i><br />
    </div>
    <div class="col">
        <a href="mailto:msoriano@nip.upd.edu.ph">msoriano@nip.upd.edu.ph</a>
    </div>
{% endblock %}

{% block related %}
    <a href="http://www.rappler.com/science-nature/28036-pinoy-gadget-tubbataha-assessments">Press Coverage for Tubbataha Grounding Damage Assessment (Rappler)</a><hr />
    <a href="http://www.gmanetwork.com/news/video/158284/24oras/pinsala-ng-sumadsad-na-chinese-fishing-vessel-sa-tubbataha-reef-kasinglawak-na-raw-ng-5-basketball-courts">Press Coverage for Tubbataha Grounding Damage Assessment (GMA News)</a><hr />
    <a href="http://www.youtube.com/watch?v=ucMVM3LRqRM">Press Coverage for Tubbataha Grounding Damage Assessment (ANC)</a><hr />
{% endblock %}

{% block academic %}
    <li class="list-group-item">Professor 7, National Institute of Physics (NIP)</li>
{% endblock %}

{% block administrative %}
    <li class="list-group-item">
        Deputy Director of Academic Affairs, National Institute of Physics<br />
        <small class="text-secondary">2006 - 2011</small>
    </li>
    <li class="list-group-item">
        Editor-in-Chief, Science Diliman<br />
        <small class="text-secondary">2007 - 2011</small>
    </li>
{% endblock %}

{% block awards %}
    {% for award in awards %}
        <li class="list-group-item">
            {{ award }}
        </li>
    {% endfor %}
{% endblock %}

{% block interests %}
    <li class="list-group-item">Color, video and image processing applied to marine science, art conservation, biometrics, and spectral and medical imaging</li>
    <li class="list-group-item">Physics education</li>
{% endblock %}

{% block publications %}
    {% for publication in publications %}
        <li class="list-group-item">
            {{ publication }}
        </li>
    {% endfor %}
{% endblock %}
