{% extends "layout.html.j2" %}

{% block title %}
    Publications
{% endblock %}


{% block body %}
<script>
    $(document).ready(function() {
        $("#t_pub2013").DataTable();
        $("#t_pub2014").DataTable();
        $("#t_pub2015").DataTable();
        $("#t_pub2016").DataTable();
        $("#t_pub2017").DataTable();
        $("#t_pub2018").DataTable();
        $("#t_pub2019").DataTable();
        $("#t_spp2019").DataTable();
        $(".dataTables_length").addClass("bs-select");
    });
</script>

<div class="container-fluid" style="padding-top: 50px; padding-bottom: 50px">
	<h3 class="text-center">Publications</h3>
	<ul class="nav nav-tabs justify-content-center" role="tablist">
        {% for y in reg_years %}
                <li class="nav-item"><a class="nav-link {{ 'active' if loop.index0 == 0 }}" data-toggle="tab" href="#pub{{ y }}">{{ y }}</a></li>
        {% endfor %}
        {% for y in spp_years %}
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#spp{{ y }}">SPP {{ y }}</a></li>
        {% endfor %}
	</ul>

    <!-- Regular publications -->
	<div class="tab-content">

        {% for pub_year in regular %}
            <div id="pub{{ reg_years[loop.index0] }}" class="container-fluid tab-pane {{ 'active' if loop.index0 == 0 }} {{ 'fade' if loop.index0 != 0 }}">
            <br />
                <div class="table-responsive">
                    <table id="t_pub{{ reg_years[loop.index0] }}" class="table table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th>Author(s)</th>
    							<th>Title</th>
    							<th>Journal</th>
    							<th>Vol.</th>
                                <th>Issue</th>
    							<th>Date</th>
    							<th>Link</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pub in pub_year %}
                                <tr>
    								<td>{{ pub.authors }}</td>
    								<td>{{ pub.title }}</td>
    								<td>{{ pub.journal }}</td>
    								<td>{{ pub.volume }}</td>
                                    <td>{{ pub.issue if pub.issue != None else '-' }}</td>
    								<td>{{ pub.year }}</td>
    								<td><a href="{{ pub.url }}" class="btn btn-success {{ 'disabled' if pub.url == None }}" style="border-radius: 5px" role="button" target="_blank">Read</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}

		<!-- SPP -->
        {% for pub_year in spp %}
            <div id="spp{{ spp_years[loop.index0] }}" class="container-fluid tab-pane fade"><br />
    			<div class="table-responsive">
    				<table id="t_spp{{ spp_years[loop.index0] }}" class="table table-hover">
    					<thead class="thead-light">
    						<tr>
    							<th class="col">Author(s)</th>
    							<th class="col">Title</th>
    							<th class="col">Link</th>
    						</tr>
    					</thead>
    					<tbody>
    						{% for pub in pub_year %}
    							<tr>
    								<td class="col-sm-3">{{ pub.authors }}</td>
    								<td>{{ pub.title }}</td>
    								<td class="col-sm-1"><a href="https://paperview.spp-online.org/proceedings/article/view/SPP-2019-{{ pub.spp_code }}" class="btn btn-success" style="border-radius: 5px" role="button" target="_blank">Read</a></td>
    						{% endfor %}
    					</tbody>
    				</table>
    			</div>
	        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
