{% extends "layout.html.j2" %}

{% block body %}
<script>
    $(document).ready(function() {
        $("#t_pub2017").DataTable();
        $("#t_pub2018").DataTable();
        $("#t_pub2019").DataTable();
        $("#t_spp2019").DataTable();
        $(".dataTables_length").addClass("bs-select");
    });
</script>

<div class="container-fluid" style="padding-top: 50px; padding-bottom: 50px">
	<h3 class="text-center">Publications</h3>
	<ul class="nav nav-tabs justify-content-center" role="tablist">
		<li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#pub2019">2019</a></li>
		<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#pub2018">2018</a></li>
		<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#pub2017">2017</a></li>
		<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#spp2019">SPP 2019</a></li>
	</ul>

    <!-- Regular publications -->
	<div class="tab-content">

        {% for pub_year in regular %}
            {% if loop.index0 == 0 %}
                <div id="pub{{ reg_years[loop.index0] }}" class="container-fluid tab-pane active">
            {% else %}
                <div id="pub{{ reg_years[loop.index0] }}" class="container-fluid tab-pane">
            {% endif %}
                <br />
                <div class="table-responsive-xl">
                    <table id="t_pub{{ reg_years[loop.index0] }}" class="table table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th class="col-sm-2">Author(s)</th>
    							<th class="col-sm-5">Title</th>
    							<th class="col-sm-2">Journal</th>
    							<th class="col-sm-1">Vol. (No.): pp.</th>
    							<th class="col-sm-1">Date</th>
    							<th class="col-sm-1">Link</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pub in pub_year %}
                                <tr>
    								<td>{{ pub.authors }}</td>
    								<td>{{ pub.title }}</td>
    								<td>{{ pub.journal }}</td>
    								<td>{{ pub.volume }}</td>
    								<td>{{ pub.year }}</td>
    								<td><a href="{{ pub.url }}" class="btn btn-success {{ 'disabled' if pub.url == None }}" style="border-radius: 30px" role="button" target="_blank">Read</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}

		<!-- SPP -->
        {% for pub_year in spp %}
            <div id="spp{{ spp_years[loop.index0] }}" class="container-fluid tab-pane fade"><br />
    			<div class="table-responsive-lg">
    				<table id="t_spp{{ spp_years[loop.index0] }}" class="table table-hover">
    					<thead class="thead-light">
    						<tr>
    							<th class="col-sm-4">Author(s)</th>
    							<th class="col">Title</th>
    							<th class="col-sm-1">Link</th>
    						</tr>
    					</thead>
    					<tbody>
    						{% for pub in pub_year %}
    							<tr>
    								<td class="col-sm-3">{{ pub.authors }}</td>
    								<td>{{ pub.title }}</td>
    								<td class="col-sm-1"><a href="https://paperview.spp-online.org/proceedings/article/view/SPP-2019-{{ pub.spp_code }}" class="btn btn-success" style="border-radius: 30px" role="button" target="_blank">Read</a></td>
    						{% endfor %}
    					</tbody>
    				</table>
    			</div>
	        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
