{% extends "offhome_layout.html.j2" %}
{% set active_page = 'research' %}

{% block title %}
    Research
{% endblock %}

{% block heading %}
    Instru's Research
{% endblock %}

{% block content %}

<div class="row">
    <div class="col">
        {{ lipsum(1) }}
        <ul>
            {% for i in range(3) %}
                <li>
                    {{ lipsum(1) }}
                </li>
            {% endfor %}
        </ul>
        {{ lipsum(2) }}
        <br />
        <div class="card-columns">
            {% set groups = ["Team One", "Synchronization & BioOptics", "Video & Image Processing", "Complexity Science Group", "CX Team"] %}
            {% for group in groups %}
                <div class="card">
                    <div class="card-body text-center">
                        <a href="#" class="stretched-link"><h4 class="card-title">{{ group }}</h4></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-3">
        {% include "research_sidebar.html.j2" %}
    </div>
</div>

{% endblock %}
