<div class="list-group">
    <a href="/research" class="list-group-item list-group-item-action {{ 'bg-secondary text-light' if active_page == 'research' }}">Research</a>
    <a href="/research/team-one" class="list-group-item list-group-item-action {{ 'bg-secondary text-light' if active_page == 'teamone' }}">Team One</a>
    <a href="/research/sync-biooptics" class="list-group-item list-group-item-action {{ 'bg-secondary text-light' if active_page == 'syncbio' }}">Synchronization &amp; BioOptics</a>
    <a href="/research/vip" class="list-group-item list-group-item-action {{ 'bg-secondary text-light' if active_page == 'vip' }}">Video &amp; Image Processing</a>
    <a href="/research/complexity-science" class="list-group-item list-group-item-action {{ 'bg-secondary text-light' if active_page == 'csg' }}">Complexity Science Group</a>
    <a href="/research/cx-team" class="list-group-item list-group-item-action {{ 'bg-secondary text-light' if active_page == 'cx' }}">CX Team</a>
</div>
<hr style="border-width: 3px; border-color: rgba(0, 0, 0, 0.5)" />
<h5>Related References</h5><br />
<a href="https://our.upd.edu.ph/files/calendar/regular/ACAD%20CAL%202019-2020.pdf">UP Diliman Calendar AY 2019-2020</a><hr />
<a href="https://docs.google.com/viewer?a=v&pid=sites&srcid=ZGVmYXVsdGRvbWFpbnxpbnN0cnVtZW50YXRpb25waHlzaWNzbGFifGd4OjIwNWVhZDExNzQwNDhhMGY">IPL Annual Report 2013</a><hr />
<a href="https://our.upd.edu.ph/files/catalogue/CS.pdf#page=8">BS Physics Course Curriculum</a><hr />
<a href="https://our.upd.edu.ph/files/catalogue/CS.pdf#page=10">BS Applied Physics (Instrumentation) Course Curriculum</a><hr />
<a href="https://our.upd.edu.ph/acadcat.php">UP Diliman General Catalogue 2014</a><hr />
<a href="https://our.upd.edu.ph/acadinf.php">UP Diliman Academic Information</a>
