.Container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.App {
    display: block;
    text-align: center;
}

.Logo {
    margin: 50px;
    width: 50vh;
}
