.cover-photo {
    background-image: url('https://res.cloudinary.com/kdphotography-assets/image/upload/c_scale,w_auto,dpr_auto,f_auto/v1/ipl/ipl_grp');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 60vh;
    border-radius: 0;
    box-shadow: none !important;
}
